---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/ui/Button.astro";
import imgA from "../imgs/seccion-01.png";
import imgB from "../imgs/seccion-02.png";
import imgC from "../imgs/seccion-03.png";
import imgD from "../imgs/cuadro-adorno.png";
import imgE from "../imgs/seccion-04.jpg";
import imgF from "../imgs/seccion-05.jpg";
import imgG from "../imgs/seccion-06.jpg";
import imgH from "../imgs/seccion-07.jpg";
---

<MainLayout>
	<Hero />
	<section class="mt-16 sm:mt-32 px-4 md:px-16">
		<div class="block sm:flex gap-16 sm:justify-between">
			<div class="w-full sm:w-1/2">
				<h1 class="font-serif text-blue-600 text-5xl sm:text-7xl tracking-widest font-bold">
					Descubre
				</h1>
				<div class="ml-8 -mt-1">
					<h1 class="font-thin text-3xl sm:text-5xl mt-1 uppercase">
						Tu siguiente aventura
					</h1>
					<p class="my-5">
						Explora el encanto de nuestras habitaciones tipo loft.
						Disfruta del diseño moderno, completamente amueblado y
						equipado para ti. Disfruta tu estancia.
					</p>
					<a href="/cuartos">
						<Button>Conócenos</Button>
					</a>
				</div>
			</div>
			<div class="bg-mostaza w-3/4 ml-auto mt-8 h-96 sm:h-auto sm:ml-16 sm:w-1/3 sm:-mt-8 relative">
				<Image
					src={imgA}
					alt="Foto 01"
					class="z-10 w-full lg:w-1/3 absolute bottom-12 -left-10"
				/>
				<Image
					src={imgB}
					alt="Foto 02"
					class="w-full absolute top-4 sm:top-12 -left-4"
				/>
			</div>
		</div>
	</section>

	<section class="mt-32 px-0 md:px-16">
		<div class="block sm:flex justify-center items-center">
			<div class="w-full md:w-[500px] h-auto">
				<Image
					src={imgC}
					alt="Foto 03"
					class="w-full h-full object-contain"
				/>
			</div>
			<div class="mx-4 mt-4 sm:mt-0 sm:mx-0 sm:ml-16 relative">
				<Image
					src={imgD}
					alt="Imagen texto 01"
					class="mx-auto sm:w-full"
				/>
				<div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-full text-center">
					<h1 class="font-serif text-blue-600 text-4xl lg:text-7xl tracking-widest font-bold">
						Experiencias
					</h1>
					<div class="ml-8">
						<h1 class="font-thin text-2xl lg:text-5xl mt-1 uppercase">
							Inolvidables
						</h1>
						<p class="mt-2 sm:my-5 text-center w-full lg:w-4/6 mx-auto">
							Desde interiores elegantes, hasta vistas panorámicas
							de la ciudad, cada loft ofrece una experiencia más
							allá de un hotel tradicional.
						</p>
						<a href="/explora">
							<Button>Explora</Button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-16 sm:mt-32 px-0 md:px-16">
		<div class="block sm:flex gap16 justify-between">
			<div class="w-full sm:w-1/2 px-4">
				<h1 class="font-serif text-blue-600 text-5xl lg:text-7xl font-bold tracking-widest">
					Nuestra
				</h1>
				<div class="ml-8 -mt-1">
					<h1 class="font-thin text-3xl lg:text-5xl mt-1 uppercase">
						Oferta para ti
					</h1>
					<p class="my-5">
						Reserva ahora y disfruta de comodidad total en tu nuevo
						hogar tipo loft.
					</p>
					<a href="/acerca-de">
						<Button>Sobre nosotros</Button>
					</a>
				</div>
			</div>
			<div class="bg-mostaza w-11/12 ml-auto h-80 sm:w-5/12 sm:h-[500px] mt-8 sm:-mt-8 relative">
				<Image
					src={imgE}
					alt="Foto 01"
					class="z-10 w-11/12 sm:w-3/4 lg:w-1/3 absolute bottom-4 sm:bottom-12 -left-4 sm:-left-10"
				/>
				<Image
					src={imgF}
					alt="Foto 02"
					class="hidden sm:block w-full absolute top-12 -left-4"
				/>
			</div>
		</div>
	</section>

	<section class="mt-32 px-0 md:px-16">
		<div class="block sm:flex justify-center items-center">
			<div class="bg-mostaza w-10/12 sm:w-1/2 h-72 lg:h-[500px] mt-8 xl:-mt-8 relative">
				<Image
					src={imgG}
					alt="Foto 01"
					class="z-10 w-3/4 sm:w-1/2 lg:w-1/3 absolute bottom-5 -right-10"
				/>
				<Image
					src={imgH}
					alt="Foto 02"
					class="w-full absolute -top-5 -left-4"
				/>
			</div>
			<div class="mt-5 sm:mt-0 sm:ml-16 relative">
				<Image src={imgD} alt="Imagen texto 01" class="w-[550px]" />
				<div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-full text-center">
					<h1 class="font-serif text-blue-600 text-4xl lg:text-6xl tracking-widest font-bold">
						Habitaciones
					</h1>
					<div class="sm:ml-8">
						<h1 class="font-thin text-2xl lg:text-4xl mt-1 uppercase">
							Tipo loft exclusivas
						</h1>
						<p class="mt-2 sm:my-5 text-center w-11/12 lg:w-4/6 mx-auto">
							Adéntrate en un mundo de comodidad y estilo.
							Nuestros lofts están diseñados para brindarte una
							estancia relajante, disfruta de tu nuevo hogar.
						</p>
						<a href="/reserva">
							<Button>Reserva ahora</Button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-amber-200 pt-8 pb-16">
		<div
			class="block sm:flex max-w-7xl mx-auto justify-between items-center lg:px-0 px-8"
		>
			<ul
				class="border-l-4 border-amber-500 pl-8 sm:pl-16 py-1 space-y-6"
			>
				<li>
					<h5 class="font-semibold">Ubicación</h5>
					<div>Girasol 239</div>
					<div>Tepic, Nayarit</div>
				</li>
				<li>
					<h5 class="font-semibold">Email</h5>
					<div>reservaciones.obas@macopron.com</div>
				</li>
				<li>
					<h5 class="font-semibold">Teléfonos</h5>
					<div>+(52) 322 118 4312</div>
					<div>+(52) 311 226 0098</div>
				</li>
			</ul>
			<div>
				<div class="mt-8 sm:mt-0 flex flex-col space-y-2">
					<a href="/cuartos" class="flex flex-col">
						<Button>Cuartos</Button>
					</a>
					<a href="/reserva" class="flex flex-col">
						<Button>Reserva ahora</Button>
					</a>
				</div>
				<div class="flex justify-center gap-3 mt-5">
					<!-- <Icon name="facebook" class="text-blue-600" size={24} />
					<Icon name="x" class="text-blue-600" size={24} />
					<Icon name="instagram" class="text-blue-600" size={24} /> -->
				</div>
			</div>
		</div>
	</section>

	<section class="mt-5 sm:mt-32 mb-52 lg:px-0 px-8">
		<h1 class="text-3xl sm:text-5xl font-thin text-center uppercase">
			¿Qué nos diferencia?
		</h1>
		<div class="block sm:flex justify-center items-center mt-2 sm:mt-5">
			<div
				class="border-none sm:border-solid sm:border-r border-gray-400 pr-0 sm:pr-8 py-8 sm:h-72"
			>
				<div class="text-7xl sm:text-9xl text-amber-400 text-center">
					1
				</div>
				<h3
					class="uppercase font-normal mt-8 text-center text-neutral-800 text-2xl"
				>
					Ubicación
				</h3>
			</div>
			<div
				class="sm:ml-8 border-none sm:border-solid sm:border-r border-gray-400 pr-0 sm:pr-8 py-8 sm:h-72"
			>
				<div class="text-7xl sm:text-9xl text-amber-400 text-center">
					2
				</div>
				<h3
					class="uppercase font-normal mt-8 text-center max-w-80 text-neutral-800 text-2xl"
				>
					Calidad premium
				</h3>
			</div>
			<div
				class="sm:ml-8 border-none sm:border-solid sm:border-r border-gray-400 pr-0 sm:pr-8 py-8 sm:h-72"
			>
				<div class="text-7xl sm:text-9xl text-amber-400 text-center">
					3
				</div>
				<h3
					class="uppercase font-normal mt-8 text-center max-w-80 text-neutral-800 text-2xl"
				>
					Excelentes vistas
				</h3>
			</div>
			<div class="sm:ml-16 py-8 sm:h-72">
				<div class="text-7xl sm:text-9xl text-amber-400 text-center">
					4
				</div>
				<h3
					class="uppercase font-normal mt-8 text-center max-w-80 text-neutral-800 text-2xl"
				>
					Áreas de trabajo
				</h3>
			</div>
		</div>

		<div class="flex justify-center mt-8">
			<a href="/reserva">
				<Button>Reserva ahora</Button>
			</a>
		</div>
	</section>

	<Footer />
</MainLayout>
